@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body {
    background-color: #a2d2ff;
}
#myButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 12px;
    box-shadow: 0 9px #999;
}

#myButton:hover {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#myButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.carousel {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 8em;
    font-family:'Indie Flower';
}
.carousel div {
    display: none;
}
.carousel div.active {
    display: block;
}
